<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Préstamos</h1>
        <a th:href="@{/prestamo/listarPrestamos/agregar}" class="btn btn-success">Agregar préstamo</a>
        <a th:href="@{/}" class="btn btn-danger">Regresar a la tabla de libros</a>

        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Empleado que dio el prestamo</th>
                        <th>Usuario que solicito el prestamo</th>
                        <th>Libro prestado</th>
                        <th>Fecha de salida</th>
                        <th>Fecha de devolución</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="prestamo : ${prestamos}">
                        <td class="table-warning" th:text="${prestamo.idPrestamo}"></td>
                        <td th:text="${prestamo.empleados}"></td>
                        <td th:text="${prestamo.usuarios}"></td>
                        <td th:text="${prestamo.libros}"></td>
                        <td th:text="${prestamo.fechaSalida}"></td>
                        <td th:text="${prestamo.fechaDevolucion}"></td>
                        <td><a class="btn btn-warning" th:href="@{/prestamo/listarPrestamos/editar/} + ${prestamo.idPrestamo}" th:text="Editar"/></td>
                        <td><a class="btn btn-danger" th:href="@{/prestamo/listarPrestamos/eliminar(idPrestamo=${prestamo.idPrestamo})}" th:text="Eliminar"/></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</body>
</html>
