<html>
    <head xmlns:th="http://www.thymeleaf.org" 
          xmlns="http://www.w3.org/1999/xhtml">
        <title>Buscar</title>
        <meta charset="UTF-8">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous"/>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script> 
    </head>

    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-ms-8">
                    <h4>Buscar libros por ISBN</h4>
                    <form th:action="@{/isbn}" th:object="${libro}" method="get">
                        <input type="text" th:field="*{isbn}" class="form-control col-ms-4"/>
                        <button type="submit" class="btn btn-success">Buscar</button>
                        <a th:href="@{/}" class="btn btn-danger">Regresar</a>
                    </form>


                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>ISBN</th>
                                <th>Autor</th>
                                <th>No. de páginas</th>
                                <th>Estatus</th>
                                <th>Comentarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="isbn:${librosPorIsbn}">
                                <td th:text="${isbn.idLibro}"></td>
                                <td th:text="${isbn.nombre}"></td>
                                <td th:text="${isbn.isbn}"></td>
                                <td th:text="${isbn.autor}"></td>
                                <td th:text="${isbn.noPaginas}"></td>
                                <td th:text="${isbn.estatus.estatusLibro}"></td>
                                <td th:text="${isbn.comentarios}"></td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </body>
</html>
